@mixin setDisplay(
  $display: flex,
  $align: center,
  $justify: center,
  $flex: row
) {
  align-items: $align;
  display: $display !important;
  flex-direction: $flex;
  justify-content: $justify;
}

@mixin setTransition($delay: 0.3s) {
  transition: all $delay ease-in-out;
}

@mixin setScale($scale: 1.025) {
  scale: $scale;
}

// @mixin minHeight() {
//   height: 100vh;
//   min-height: 100vh;
//   width: 100%;

//   @media (width <= 992px) {
//     height: 100%;
//   }
// }
