@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap");
@import "@styles/colors.scss";

body {
  color: $cl-white;
  font-family: "Montserrat", serif;
  font-weight: 400;
}
