@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sigmar+One&display=swap");
@import "@styles/colors.scss";

body {
  color: $cl-white;
  font-family: "Montserrat", serif;
  font-weight: 400;
}

.header {
  color: $cl-white;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

.sidet {
  color: $cl-gray;
  font-size: 20px;
}

@media (width <= 768px) {
  .header {
    font-size: 36px;
  }

  .sidet {
    font-size: 16px;
  }
}

@media (width <= 375px) {
  .header {
    font-size: 24px;
  }

  .sidet {
    font-size: 14px;
  }
}
