@import "@styles/colors.scss";
@import "@styles/mixins.scss";

.wii {
  @include minHeight();
  @include setDisplay(flex, center, center, column);
  gap: 30px;
  text-align: center;
  overflow-x: hidden;

  &__side-text {
    width: 65%;
  }
}

@media (width <= 1024px) {
  .wii__side-text {
    width: 100%;
  }
}
