@import "@styles/colors.scss";
@import "@styles/mixins.scss";

.navbar {
  height: 10vh;

  &__brand {
    color: $cl-gray !important;
    text-decoration: none;
    font-family: "Sigmar One", serif;
    font-size: 36px;
    text-transform: capitalize;
  }

  .nav-link {
    font-size: 20px !important;
    color: $cl-white !important;
    text-transform: capitalize;

    &:hover {
      color: $cl-purple !important;
    }
  }

  &__sidebar {
    background-color: $cl-black !important;

    &-body {
      @include setDisplay(flex, center, end, row);
      color: $cl-white !important;
      text-transform: capitalize;
      text-align: start;
    }
  }
}

@media (width < 992px) {
  .navbar__sidebar-body {
    justify-content: center;
  }
}
