@import "@styles/mixins.scss";

.footer {
  text-align: center;
  margin: 60px 0;

  &__list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    width: 100%;
  }
}
